@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Roboto',sans-serif;
    overflow-x: hidden;
    background: #081e83;
}
.container{
    margin: 0 7rem;
    height: 100%;
}
a{
    text-decoration: none;

}
ul{
    list-style: none;
}
#Home{
    height: 100vh;
    
    color: #fff;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}
 nav .logo{
width: 80px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul a{
    color: #fff;
    padding: 20px;
    transition: 0.2s;
}
nav ul a:hover{
    color:aqua;
}
#Home .container .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
}
#Home .container .content img{
    width: 470px;
    animation: animation1 1s ease-out  ;
    
}
#Home .content .content-text h1{
    font-size: 40px;
    font-family: 900px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#Home .content .content-text h1 span{
    font-size: 70px;
}
#Home .content .content-text p{
    font-weight:300px ;
    margin-bottom: 10px;
    line-height: 1.4;
    width: 60%;
}
.btn{
    font-size: 14px;
    padding: 10px 15px;
    background: #fff;
    color: black;
    border-radius: 30px;
    transition: all 0.3s;
}
.btn:hover{
    background-color: transparent;
    color:#fff;
    border: 1px solid white;
}
.social i{
    color: #fff;
    font-size: 25px;
    margin: 10px 0 ;
    animation: animation1 1s ease-out  ;
}
@keyframes animation1{
    0%{
        transform: translateX(500px);
    }
    100%{
       transform: translateX(0px); 
    }
}
@media (max-width:900px) {
    .container{
        margin: 0 1rem;
    }
    nav ul a{
        padding: 10px;
    }
    #Home .content{
        flex-direction:column ;
        text-align: center;
        padding: 2rem 0 0 ;
    }
    #Home .content .content-text{
        margin-bottom: 2rem;
    }
    #Home .content .content-text p{
        width: 100%;
    }
    #Home .container .content img{
        width: 1o0px;
        margin-bottom: 10px;
    }
    .social{
        margin-bottom: 15px;
    }
}
@media (max-width:600px) {
    nav{
        display: block;
    }
    nav .logo{
        display: block;
        margin: 0 auto 15px;
    }
    nav ul{
        justify-content: center;
    }
    nav ul a{
        font-size: 12px;
    }
}
